<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Angular responsive comment system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    
   <!--  <link rel='stylesheet prefetch' href='css/__pawelski_io_reset_sass.css'>
<link rel='stylesheet prefetch' href='css/__pawelski_io_codepen_sas.css'> -->
<!-- <link rel='stylesheet prefetch' href='http://plugins.pawelski.io/ripple.min.css'> -->

        <link rel="stylesheet" href="css/style.css">

  </head>

  <body>
<div ng-app="comments" ng-controller="commentsCtrl">
  <ul ng-if="comments.length">
    <li ng-repeat="comment in comments">
      <header>
     <h1 >{{ comment.author.name }}</h1>
      </header>
      <article ng-bind-html="parseContent(comment.content)"></article>
    </li>
  </ul>
  <form name="form" ng-submit="form.$valid &amp;&amp; addNewComment()" novalidate="novalidate">
    <input type="text" placeholder="Name" ng-pattern="/[a-zA-Z.,-]+/" ng-model="newComment.author.name" required="required"/>
    <textarea placeholder="Memory, Thoughts, Wishes, or Words" ng-model="newComment.content" required="required"></textarea>
    <button type="submit" class="ripple">add comment</button>
  </form>
</div>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
<script src='http://www.myersdaily.org/joseph/javascript/md5.js'></script>
<script src='http://plugins.pawelski.io/ripple.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
